UPDATE [HD_REPOZYTORIUM_GLOWNE].[dbo].[DANE_GLOWNE_TYM]
SET VARIABLE_TARGET_TYM = 'RCH%'
WHERE VARIABLE_TARGET_TYM ='RCH %  [Not cons. - TH: 0min.]';
UPDATE [HD_REPOZYTORIUM_GLOWNE].[dbo].[DANE_GLOWNE_TYM]
SET VARIABLE_TARGET_TYM = 'RCH'
WHERE VARIABLE_TARGET_TYM ='RCH  [Not cons. - TH: 0min.]';